.hero {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
    url("../../../assets/hero-image.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}
