nav {
  width: 100%;
  background-color: #005596;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0%;
  left: 0%;
  justify-content: space-between;
  z-index: 99;
}

.logo {
  width: 80px;
  height: auto;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  object-fit: contain;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 1.2rem;
}
