@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: greenyellow;
  color: #005596;
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
